<p>{{ record.name }} {{record.category}} {{record.date}} {{record.amount}}</p>
<a href="/">back</a>
<a href="/records/{{ record._id }}/edit">edit</a>
<form action="/records/{{ record._id }}/delete" method="POST" style="display: inline;">
  <button type="submit" class="btn"><i class="fas fa-lg fa-trash-alt"></i></button>
</form>