<div class="container">
  {{!-- 支出項目 --}}
  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto mr-auto">
          <h4 style="display: inline; vertical-align: middle;">
            {{ this.name }} {{this.category}} {{this.date}} {{this.amount}}
          </h4>
        </div>
      </div>
      <a href="./records/{{ this._id }}">detail</a>
      <a href="/records/{{ this._id }}/edit" class="btn"><i class="fas fa-lg fa-edit"></i></a>
      <form action="/records/{{ this._id }}/delete" method="POST" style="display: inline;">
        <button type="submit" class="btn"><i class="fas fa-lg fa-trash-alt"></i></button>
      </form>
    </li>

    {{/each}}

  </ul>
  <a href="./records/new">Create</a>
</div>